<nav id="nav">
  <h1 id="logo">Header</h1>
  <ul id="dropdown-nav">
    <li><a href="#Settings">Settings</a></li>
    <li><a href="#About">About Wedlum</a></li>
  </ul>

  <div id="timeline-list">
    <ul>
      <li id="timeline-dot-1">
      <a href="http://www.what.com" id="timeline-list-completed">Color Section</a>
      </li>
      <li id="timeline-dot-2">
      <a href="http://www.what2w.com" id="timeline-list-completed">Color Swatches Part 2</a>
      </li>
      <li id="timeline-dot-3">
      <a href="">Color Swatches Part 3</a>
      </li>
      <li id="timeline-dot-4">
      <a href="">Color Contrasts</a>
      </li>
      <li id="timeline-dot-5">
      <a href="">Color Palettes</a>
      </li>
      <li id="timeline-dot-6">
      <a href="">Flower Section</a>
      </li>
      <li id="timeline-dot-7">
      <a href="">Paper Section</a>
      </li>
      <li id="timeline-dot-8">
      <a href="">Place Setting Section</a>
      </li>
      <li id="timeline-dot-9">
      <a href="">Photo Contrasts</a>
      </li>
      <li id="timeline-dot-10">
      <a href="">Photo Contrasts Part 2</a>
      </li>
      <li id="timeline-dot-11">
      <a href="">Photo Choice</a>
      </li>
      <li id="timeline-dot-12">
      <a href="">Photo Choice Part 2</a>
      </li>
      <li id="timeline-dot-final">
      <a href="">Results Section</a>
      </li>
    </ul>
  </div>
</nav>

