@CHARSET "UTF-8";

#photo-gallery li {
	display: inline-block; 
}

#photo-editor {
	display: table;
	width: 100%;
}

#photo-description {
	display: table-cell;
	width: 25%;
	padding: 1em;
	border: 1px solid grey;
}

#photo-tags {
	display: table-cell;
	width: 75%;
	border: 1px solid grey;
}

#photo-tags div {
	padding: 1em;
	border: 1px solid grey;
}

.thumbnail {
    width: 16em;
    height: 10em;
    overflow: hidden;
    padding: 2em;
    border: 0;
    padding: 0;
}


.thumbnail img{
    height: 100%;
    width: 100%;
}

.bigmodal {
    width: 90%;
    height: 90%;
    left: 5%;
    margin: 0;
}
.bigmodal.fade.in {
    top: 5%;
}
.bigmodal .modal-body {
    max-height: none;
}
